.container
  .row
    .page-header
      h1 #{title}
      ul(class="nav nav-pills")
        li(role="presentation")
          a(href="/") 首页
        li(role="presentation")
          a(href="/admin/list/") 管理
        li(role="presentation")
          a(href="/admin/movie/") 添加

